body {
	font-family: tahoma, helvetica, sans-serif;
	font-size: 10px;
}
a {
	color: green;
}
h1 {
	color: #333;
	font-size: 1.8em;
}
h2 {
    font-size: 1.4em;
}
#mt-stats-total {
	font-size: 1.2em;
}
#mt-stats-total span {
    color: #2166b0;
    font-weight: bold;
}
#mt-error, #mt-api-stats {
    display: none;
}
table {
	border: 1px solid #999;
	border-collapse: collapse;
	border-radius: 10px;
	color: #333;
	font-size: 1.2em;
	table-layout: fixed;
	width: 100%;
}
tr:nth-child(odd) {
    background-color: #f8f8f8;	
}
th {
	background: #ddd;
	border-bottom: 1px solid #999;
	color: #444;
	padding: 5px;
	text-align: left;
}
td {
    border-bottom: 1px solid #bbb;
    line-height: 1.8em;
    padding: 5px;
    vertical-align: top;	
}
table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.col1 {
	text-align: center;
	width: 8%;
}
.col2 {
    text-align: center;
    width: 8%;
}
.col3 {
    width: 84%;
}
.stat-col {
	float: left;
	width: 20%;
}
td.col2 {
	font-weight: bold;
}